<div class="nav">
  <div class="logo-section">
    <img src="assets/images/logo-full.svg" alt="">
  </div>
  <div class="nav-section">
    <ul>
      <li>
        <a routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
      </li>
      <li>
        <a routerLink="/our-services"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">SERVICES</a>
      </li>
      <li>
        <a routerLink="/gallery"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">GALLERY</a>
      </li>
      <li>
        <a routerLink="/contact-us"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">CONTACT </a>
      </li>
    </ul>
  </div>
</div>