<div class="main">

  <div class="form">
    <div class="form-controls">
      <label class="label a-c" for="">Name *</label>
      <input type="text" placeholder="">
    </div>

    <div class="form-controls">
        <label class="label a-c" for="">Email *</label>
        <input type="text">
      </div>

      <div class="form-controls">
          <label class="label a-c" for="">Cell No *</label>
          <input type="text">
        </div>

        <div class="form-controls">
            <label class="label a-c" for="">Message *</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>

          <div class="form-control a-c">
              <a href="" class="btn-std">SEND </a>
          </div>
  </div>

</div>
