.main {
  background: rgb(52, 73, 94);
  background: linear-gradient(180deg, rgba(52, 73, 94, 1) 0%, rgba(16, 19, 22, 1) 100%);
  background: #1D1C1A;
  text-align: center;
  padding: 5%;


  p {
    width: 35%;
    margin: 3% auto;
  }

}
