<div class="banner">
  <div class="intro-box">
    <h1>
      Our Services
    </h1>
  </div>
</div>

<div class="main">
  <div class="cards">

    <div class="card">
      <div class="image">
        <img src="../../assets/images/services/marketing.png" alt="">
      </div>
      <div class="card-body">
        <h1>marketing video</h1>
        <p>
          This package includes a script,full day production
          with Professional actors we find suitable for the
          script. within seven working days a first cut of the
          edit is presented for viewing and refinery,the final
          product is deliverd via download link with othe
          options available on request.
        </p>
      </div>
    </div>


    <div class="card">
        <div class="image">
          <img src="../../assets/images/services/musicvids.png" alt="">
        </div>
        <div class="card-body">
          <h1>Music Video</h1>
          <p>
              A basic music video is a one day full production shoot
              from story board,filming,editing and colour corretion
              and grading.within seven working days a first cut of the
              edit is presented for viewing and refinery before the
              final product is deliverd via download link with other
              options available on request.
          </p>
        </div>
      </div>

    
    <div class="card">
      <div class="image">
        <img src="../../assets/images/services/wed.PNG" alt="">
      </div>
      <div class="card-body">
        <h1>Weddings</h1>
        <p>
          This package includes a five minutes edit <br>(for mobile use)
          and the full event edit in HD which is deliverd via
          download link with other options available on request.
          The edit is complete after ten working days.
        </p>
      </div>
    </div>

    <div class="card">
        <div class="image">
          <img src="../../assets/images/services/events.png" alt="">
        </div>
        <div class="card-body">
          <h1>conference and events</h1>
          <p>
              A basic music video is a one day full production shoot
              from story board,filming,editing and colour corretion
              and grading.within seven working days a first cut of the
              edit is presented for viewing and refinery before the
              final product is deliverd via download link with other
              options available on request.
          </p>
        </div>
      </div>



  </div>
</div>
